* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

:root {
    --primary-color: black;
    --secondary-color: #DB4444;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.footer a {
    color: white;
}

body {
    font-family: "Inter", sans-serif;
}

/* body {
    padding-top: 160.5px;
} */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-header {
    background-color: black;
    color: white;

    /* padding: 15px; */
}

.first-header {
    display: flex;
}

.top-header p {
    letter-spacing: 0.5;
}

.top-header h6 {
    font-size: 14px;
    margin-bottom: 0;
}

.first-header a {
    text-decoration: underline 2px rgb(175, 173, 173);
    color: white;
    margin-left: 2px;
    font-weight: 600;
}

.second-header {
    background-color: white;
    /* padding-bottom: 20px; */
    border-bottom: solid rgb(224, 222, 224) 1px;
    overflow: visible !important
}

.header-icone{
    color: black;
}

.second-header ul {
    list-style-type: none;
    display: flex;
    column-gap: 42px;
    margin-bottom: 0;
}

.menus-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menus-header h4 {
    margin-bottom: 0;
}

.seachbox {

    display: flex;
    align-items: center;
    
    background-color: #F5F5F5;
}



.seachbox input {
    border: none;
    font-size: 13px;
    background-color: transparent;

}

.seachbox input:focus {
    outline: none;
    border: none;

}

.search_cart_wishlist {
    display: flex;
    align-items: center;
}

.search_cart_wishlist .MuiMenu-list .MuiList-root {
    border: rgba(0, 0, 0, 0.212) !important;
}

/* .responsive-menu ul{
    flex-direction: column;
} */


/* footer */
.footer {
    margin-top: 70px;
    background-color: rgb(15, 15, 15);
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footerform {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px 10px;
    justify-content: space-between;
}

.footerform input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 100px;
    color: white;
}

.footerform input::placeholder {
    color: rgb(255, 255, 255);
}

.footerform input:focus {
    outline: none;
    border: none;
}

.my-custome-text {
    font-weight: 400 !important;
    margin-top: 16px !important;
}

/* .my-custome-list {
    padding: 6px 0 !important;
} */

.my-cutome-grid {
    margin: 0 18px;
}

/* .first-box {
    margin-left: 0;
}

.last-box {
    margin-right: 0;
}

.account-box {
    margin-left: 40px;
}

.support-box {
    margin-left: 20px;
} */



/* homepage */


/* .hero-left {
    border-right: solid 1px rgb(224, 222, 224);
} */


.hero {
    /* height: 70vh; */
    margin-top: 0;
}


.hero .my-custome-list {
    margin-top: 7.5px;
}

.hero-text a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.swiper,
.swiper-slide {
    height: 100%;
}

/* .gridhero-rigth  .swiper-pagination-bullet{
    background-color: rgb(143, 139, 139) !important;
    opacity:unset !important;
    height: 10px;
    width: 10px;
}
 
.gridhero-rigth .swiper-pagination-bullet-active {
    background-color: var(--secondary-color) !important;
    border:1px solid white;
} */

.todays .swiper-slide,
#bestsellingproduct .swiper-slide {
    max-width: 310px !important;
}

#category .swiper-slide {
    max-width: 180 !important;
}

.sub-title {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}


.time-colun {
    color: var(--secondary-color);
}

.my-time-typo1 {
    font-weight: medium !important;
}

.my-time-typo2 {
    font-weight: bold !important;
}



.hero .MuiTypography-root,
.hero .MuiListItemText-primary,
.hero .MuiTypography-body1,
.hero .css-rizt0-MuiTypography-root {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
}

/* #F5F5F5 */

.carttop:hover .cardimg {
    transform: scale(0.9);
}

.carttop:hover .addcart {
    display: block;
    transform: translateY(100%);

    transition: transform 0.5s ease-out;
}

/* .falseslaes-conatiner{
   padding-left: 15px;
  padding-right: 0;
  margin-right: 0;
} */

.falseslaes-conatiner {
    padding-left: 52px;
    padding-right: 0;
    box-sizing: content-box;
}

.swiper-button-prev,
.swiper-button-next {
    display: inline-block;
    background-color: #eef0f3;
    border-radius: 50%;
    margin-top: auto;
    position: absolute;
    z-index: 999;
}

.pbtn-prev,
.pbtn-next{
    display: inline-block;
    background-color: #eef0f3;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    border: 0;
}



.todays .swiper-button-prev {
    /* top:10%; */
    /* transform: rotate(180deg); */
}

.todays .swiper-button-next {
    /* top: 7%; */

}

#category .swiper-button-prev,
#category .swiper-button-next {
    top: -4%;
}

#allproducts .swiper-button-prev,
#allproducts .swiper-button-next {
    top: -1%;
}

.swiper,
.swiper-slide,
.swiper-wrapper {
    position: static !important;

}

.my-custome-button {
    background-color: var(--secondary-color);
    border-radius: 3px;
    color: white;
    text-decoration: none;

    display: block;
    width: fit-content;
    border: none;
}

hr {
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

/* .whychoose-box,
.siteinfo-box {
    background-color: #c9cdcf !important;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.whychoos-iconebtn,
.siteinfo-iconebtn {
    background-color: rgb(0, 0, 0) !important;
    padding: 15px !important;
}

.whychoos-icone,
.siteinfo-icone {
    color: white;
    font-size: 30px !important;
} */

.whycoose-con {
    padding: 0 60px;
}

#whychoosus {
    margin: 70px 0;
    padding: 60px 0;
}

/* #category{
    position: relative;
} */

/* #category .swiper-button-prev,
#allproducts .swiper-button-prev {
    transform: rotate(180deg);
} */

#category .swiper-button-next,
#allproducts .swiper-button-next {
    right: 0;
}




/* musicexp */

.musixexp-timebox {
    background-color: rgb(255, 255, 255);
    /* padding:10px 12px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
}

#musicexp .my-custome-button {
    background-color: #00FF66;
    margin-top: 40px;
}



/* new arrival */

.newarrival-grid-box {
    background-color: var(--primary-color);
    padding-bottom: 0;
    position: relative;
}

.newarrival-grid-box-text {
    color: white;
    position: absolute;
    bottom: 5%;
}

.newarrival-grid-box a {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: solid 1px white;
}

#allproducts .Swiper {
    width: 100% !important;
}

#allproducts .SwiperSlide {
    width: auto !important;
}

.product-color-btn {
    padding: 0 !important;
    border-radius: 50% !important;

    /* display: inline-block; */
    min-width: 20px !important;
    min-height: 20px !important;

}


/* authendication */

.my-cutome-textfiled {
    width: 100% !important;
    margin-top: 40px !important;
}

#authendication .submit-btn {
    width: 100%;
    text-align: center;
    border: none !important;
    margin-top: 40px !important;
}

.socialauth-icon {
    margin-right: 8px;
}

.social-auth {
    border: solid 2px grey !important;
    width: 100%;
    background-color: white !important;
    color: black;
    text-align: center;

}

.authlink {

    text-align: center !important;
}

.authlink a {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: solid 2px grey;
    margin-left: 5px;
}

#authendication span {
    margin-bottom: 0;
}

#authendication form span,
#contactus .contactform span
{
    color: red;
}

.login-btn {
    width: fit-content;
    padding: 15px 48px;
    border: none;
}



/* cart */
#cart .my-custome-button,
#foryou .my-custome-button {
    background-color: white;
    color: black;
    border: solid 2px rgb(172, 167, 167);
    padding-top: 11px;
    padding-bottom: 11px;
}

.cart-title,
.foryou-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* contactus */

.contact-custome-text {
    margin: 16px 0 !important;
}

#contactus .my-custome-button {
    margin-top: 32px;
    margin-left: auto;
}

.contactus-textfiled,
.billing-textfiled,
.myaccount-textfiled {
    width: 100%;
}




/* aboutus */

.siteinfo-card {
    border: solid 1px rgb(206, 200, 200) !important;
    padding: 30px 0;
    border-radius: 5px;
}


/* .siteinfo-box {
    background-color: #adb0b3 !important;
    padding: 12px;
}

.siteinfo-iconebtn {
    background-color: rgb(0, 0, 0) !important;
    padding: 8px !important;
}

.siteinfo-icone {
    font-size: 40px !important;
} */

.siteinfo-card:hover {
    background-color: var(--secondary-color);
    color: white;
    border: none !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25),
        -1px -1px 3px rgba(0, 0, 0, 0.25);
    background-image:
        linear-gradient(to right, #eb2d2d5b 1px, transparent 1px),
        linear-gradient(to bottom, #eb2d2d5b 1px, transparent 1px) !important;
    background-size: 12px 12px;

}

.siteinfo-card:hover .siteinfo-iconebtn {
    background-color: white !important;
}


.siteinfo-card:hover .siteinfo-box {
    background-color: rgba(255, 255, 255, 0.356) !important;
}

.siteinfo-card:hover .siteinfo-icone {
    color: black !important;
}

.teamcards {
    position: relative;
}

.teamcards .swiper-pagination {
    bottom: -8% !important;
}


.teamcards .swiper-pagination-bullet {
    color: var(--secondary-color);
}

.teamcards .swiper-pagination-bullet-active {
    background-color: var(--secondary-color);
    border: solid 1px rgb(173, 170, 170);
}

/* #aboutus-whychoosus {
    margin: 90px 0;
    margin-bottom: 100px;
} */

.about-socialicone {
    color: black !important;
}

.about-socialicone:hover {
    color: var(--secondary-color) !important;
}


/* 404 not found page */



#notfound .my-custome-button:hover {
    color: white;
}


/* product detal page */

.detailimg-box {
    text-align: center;
    background-color: #eef0f3;
    padding: 12px;

}

.deatail-main-img {
    display: flex;
    align-items: center;
    padding: 0 50px;
    width: 100%
}

.sizebox {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 5px;
    border-radius: 5px !important;
    border: solid 1.8px;
    border-color: rgb(172, 167, 167);
    /* font-size: 14px !important; */
}

.fsizebox {
    text-align: center;
    padding: 5px;
    border-radius: 5px !important;
    border: solid 1.8px;
    border-color: rgb(172, 167, 167);
}

.countbox {
    border-radius: 3px;
    border: solid 1.8px rgb(172, 167, 167);
    display: flex;
    overflow: hidden;
    align-items: center;
}

.count-btn {
    padding: 5px 25px;
    border: none;
    background-color: white;
    height: 100%;
}

.sizebox:hover {
    background-color: var(--secondary-color);
    color: white;
}



.wishlist-deatil {
    background-color: white;
    border: 1px solid rgb(172, 167, 167) !important;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.delivery-box {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.delivery-icone {
    font-size: 30px;
    font-weight: 600;
    margin-left: 16px;
}

.delivery-box a {
    text-decoration: underline;
}

/* #related-item {
    margin-top: 100px;
} */

/* cart */

#cart .icone-btn {
    padding: 0;
    font-size: 16px;
}

.tabelcell {
    padding-left: 0;
    padding-right: 0;
}

#coupon .my-custome-button {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 15px 49px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}


/* checkout */

.billing-textfiled {
    margin-top: 32px !important;
}

#billing .billing-textfiled span {
    color: var(--secondary-color);

}

.input-label {
    margin-bottom: 8px;
}

#billing .coupon-button {
    padding: 10px 45px;
}


.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
}

.breadcrumbs a {
    color: grey;
}

#myaccount .submenu {
    color: grey;
    padding: 4px 0px 4px 35px;
}

#myaccount .menu {
    padding-left: 0;
    font-weight: 600 !important;
}

#myaccount .menu .MuiListItemText-primary {
    font-weight: 600 !important;
}



#myaccount .submenu:hover {
    color: var(--secondary-color);
    background-color: white;
}

.myaccount-textfiled {
    margin-top: 24px !important;
}

#myaccount .MuiInputBase-input,
#myaccount.MuiFilledInput-input {
    padding: 14px 12px !important;
}

#myaccount .passwodtext-filed {
    margin-top: 24px;
}

.cancel-btn {
    background-color: white;
    color: black;
}

/* #myaccount .my-custome-button {
    width: 100%;
    padding: 20px 45px;
} */

.responsive-menu {
    overflow: visible !important;
    /* ✅ VERY IMPORTANT */
}

.mobile-dropdown {
    background: #f5f5f5;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.mobile-dropdown p {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.mobile-dropdown p:last-child {
    border-bottom: none;
}

/* .musicexp-imgbox img{
    width: 100% !important;
} */
.newarrival-grid-box {
    /* height: 100%; */
    /* padding: 10px 25px;
    padding-right: 0; */
}

/* .newarrival-grid-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} */

/* .newarrival-grid-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
} */

/* .ourstory-container{
    margin-right: 0 !important;
    padding-right: 0 !important;
} */
.mySwiper .swiper-wrapper {
    row-gap: 0 !important;
    /* reduce this more if needed */
}

#allproducts .swiper-slide {
    margin-top: 10px !important;
}
#allproducts .swiper-wrapper {
  row-gap: 10px !important;
}

.category-title:hover {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.demoi {
    background-color: #e0dddd !important;
    width: 300px;
    height: 300px;
}

.demoimg {
    /*   */
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: 999;
    object-fit: contain;
}