* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: black;
    --secondary-color: #DB4444;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

body {
    padding-top: 160.5px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.top-header {
    background-color: black;
    color: white;
    padding: 15px;
}

.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header p {
    margin: 0 auto;
    letter-spacing: 0.5;
}

.top-header h6 {
    font-size: 14px;
    margin-bottom: 0;
}

.first-header a {
    text-decoration: underline 2px rgb(175, 173, 173);
    color: white;
    margin-left: 2px;
    font-weight: 600;
}

.second-header {
    background-color: white;
    padding: 32px 24px 17px 24px;
    /* padding-bottom: 20px; */
    border-bottom: solid rgb(224, 222, 224) 1px;
}

.second-header ul {
    list-style-type: none;
    display: flex;
    column-gap: 42px;
    margin-bottom: 0;
}

.menus-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menus-header h4 {
    margin-bottom: 0;
}

.seachbox {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F5F5;
}

.seachbox input {
    border: none;
    font-size: 13px;
    background-color: transparent;

}

.seachbox input:focus {
    outline: none;
    border: none;

}

.search_cart_wishlist {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

/* .responsive-menu ul{
    flex-direction: column;
} */



/* footer */
.footer {
    margin-top: 70px;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 60px;
    padding-bottom: 30px;
}

.footerform {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px 10px;
    justify-content: space-between;
}

.footerform input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 100px;
    color: white;
}

.footerform input::placeholder {
    color: rgb(255, 255, 255);
}

.footerform input:focus {
    outline: none;
    border: none;
}

.my-custome-title {
    font-size: 20px !important;
}

.my-custome-text {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-top: 16px !important;
}

.my-custome-list {
    padding: 6px 0 !important;
}

.my-cutome-grid {
    margin: 0 18px;
}

.first-box {
    margin-left: 0;
}

.last-box {
    margin-right: 0;
}

.account-box {
    margin-left: 40px;
}

.support-box {
    margin-left: 20px;
}


/* homepage */


section {
    margin-top: 80px;
    margin-bottom: 60px;
}

.hero-left {
    border-right: solid 1px rgb(224, 222, 224);
}

.hero-rigth {
    padding: 40px 0 0 40px;
}

.heroimage {
    height: 350px;
    width: 400px;
}


.hero {
    /* height: 70vh; */
    margin-top: 0;
}

.hero-text {
    padding-left: 50px;
    padding-right: 70px;
}

.hero .my-custome-list {
    margin-top: 12px;
}

.hero-text a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.swiper,
.swiper-slide {
    height: 100%;

}

.todays .swiper-slide,
#bestsellingproduct .swiper-slide {
    max-width: 310px !important;
}

#category .swiper-slide {
    max-width: fit-content !important;
}

.todays-title {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.todays-title i {
    font-size: 20px;
}

.time-colun {
    color: var(--secondary-color);
}

.my-time-typo1 {
    font-weight: medium !important;
}

.my-time-typo2 {
    font-weight: bold !important;
    font-size: 32px !important;
}

/* #F5F5F5 */

.carttop:hover .cardimg {
    transform: scale(0.9);
}

.carttop:hover .addcart {
    display: block;
    transform: translateY(100%);

    transition: transform 0.5s ease-out;
}

/* .falseslaes-conatiner{
   padding-left: 15px;
  padding-right: 0;
  margin-right: 0;
} */

.falseslaes-conatiner {
    padding-left: 52px;
    padding-right: 0;
    box-sizing: content-box;
}

.swiper-button-prev,
.swiper-button-next {
    display: inline-block;
    background-color: #eef0f3;
    padding: 12px 20px;
    border-radius: 50%;
    margin-top: auto;
    position: absolute;
    z-index: 999;
}

.todays .swiper-button-prev {
    top: 7%;
    right: 8%;
    transform: rotate(180deg);
}

.todays .swiper-button-next {
    top: 7%;
    right: 3.5%;
}

.swiper,
.swiper-slide,
.swiper-wrapper {
    position: static !important;

}

.my-custome-button {
    background-color: var(--secondary-color);
    padding: 20px 48px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: fit-content;
    border: none;
}

hr {
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

.whychoose-box,
.siteinfo-box {
    background-color: #c9cdcf !important;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.whychoos-iconebtn,
.siteinfo-iconebtn {
    background-color: rgb(0, 0, 0) !important;
    padding: 15px !important;
}

.whychoos-icone,
.siteinfo-icone {
    color: white;
    font-size: 30px !important;
}

.whycoose-con {
    padding: 0 60px;
}

#whychoosus {
    margin: 70px 0;
    padding: 60px 0;
}

/* #category{
    position: relative;
} */

#category .swiper-button-prev,
#allproducts .swiper-button-prev {
    top: 0;
    right: 5%;
    transform: rotate(180deg);
}

#category .swiper-button-next,
#allproducts .swiper-button-next {
    top: 0;
    right: 0;
}

.caticone {
    font-size: 50px !important;
}


/* musicexp */

.musixexp-timebox {
    background-color: rgb(255, 255, 255);
    /* padding:10px 12px; */
    height: 62px;
    width: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
}

#musicexp .my-custome-button {
    background-color: #00FF66;
    margin-top: 40px;
}



/* new arrival */

.newarrival-grid-box {
    background-color: var(--primary-color);
    padding: 48px;
    padding-bottom: 0;
    position: relative;
}

.newarrival-grid-box-text {
    color: white;
    position: absolute;
    bottom: 5%;
}

.newarrival-grid-box a {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: solid 1px white;
}

#allproducts .Swiper {
    width: 100% !important;
}

#allproducts .SwiperSlide {
    width: auto !important;
}

.product-color-btn {
    padding: 0 !important;
    border-radius: 50% !important;

    /* display: inline-block; */
    min-width: 20px !important;
    min-height: 20px !important;

}


/* authendication */

.my-cutome-textfiled {
    width: 100% !important;
    margin-top: 40px !important;
}

#authendication .submit-btn {
    width: 100%;
    text-align: center;
    border: none !important;
    margin-top: 40px !important;
}

.social-auth {
    border: solid 2px grey !important;
    width: 100%;
    background-color: white !important;
    color: black;
    text-align: center;
}

.authlink {
    margin-top: 32px !important;
    text-align: center !important;
    font-size: 18px !important;
}

.authlink a {
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: solid 2px grey;
    margin-left: 5px;
}

#authendication span {
    margin-bottom: 0;
}

#authendication form span {
    color: red;
}

.login-btn {
    width: fit-content;
    padding: 15px 48px;
    border: none;
}



/* cart */
#cart .my-custome-button,
#foryou .my-custome-button {
    background-color: white;
    color: black;
    border: solid 2px rgb(172, 167, 167);
    padding: 15px 48px;
}

.cart-title,
.foryou-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* contactus */

.contact-custome-text {
    margin: 16px 0 !important;
}

#contactus .my-custome-button {
    margin-top: 32px;
    margin-left: auto;
}

.contactus-textfiled {
    width: 100%;
}


/* aboutus */

.siteinfo-card {
    border: solid 1px rgb(206, 200, 200) !important;
    padding: 30px 0;
    border-radius: 5px;
}


.siteinfo-box {
    background-color: #adb0b3 !important;
    padding: 12px;
}

.siteinfo-iconebtn {
    background-color: rgb(0, 0, 0) !important;
    padding: 8px !important;
}

.siteinfo-icone {
    font-size: 40px !important;
}

.siteinfo-card:hover {
    background-color: var(--secondary-color);
    color: white;
    border: none !important;
     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 
              -1px -1px 3px rgba(0, 0, 0, 0.25); 
    background-image:
        linear-gradient(to right, #eb2d2d5b 1px, transparent 1px),
        linear-gradient(to bottom, #eb2d2d5b 1px, transparent 1px);
    background-size: 12px 12px;

}

.siteinfo-card:hover .siteinfo-iconebtn {
    background-color: white !important;
}


.siteinfo-card:hover .siteinfo-box {
    background-color: rgba(255, 255, 255, 0.356) !important;
}

.siteinfo-card:hover .siteinfo-icone {
    color: black !important;
}

.teamcards{
    position: relative;
    
}

.teamcards .swiper-pagination{
    bottom: -8% !important;
}


.teamcards .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    color: var(--secondary-color);

}

.teamcards .swiper-pagination-bullet-active {
   background-color: var(--secondary-color);
   border: solid 1px rgb(173, 170, 170);
}

#aboutus-whychoosus{
    margin:150px 0;
    margin-bottom: 100px;
}

.about-socialicone{
    color: black !important;
}

.about-socialicone:hover {
    color: var(--secondary-color) !important;
}


/* 404 not found page */

#notfound .my-custome-button{
    margin:80px auto;
}
#notfound .my-custome-button:hover{
   color:white;
}


/* product detal page */

.detailimg-box{
    text-align: center;
    background-color: #eef0f3;
    padding: 12px;
}

.deatail-main-img{
    display: flex;
    align-items: center;
    padding: 0 27px;
}

.sizebox{
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 5px;
    border-radius:5px !important;
    border:solid 1.8px;
    border-color:rgb(172, 167, 167) ;
    font-size: 14px !important;
}

.countbox{
 border-radius: 3px;
    border:solid 1.8px rgb(172, 167, 167) ;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.count-btn{
    padding:5PX 15px;
    border: none;
    background-color:white;
}

