    /* xs */
    @media screen and (max-width:576px) {
        .menuicone {
            display: block;
        }

        .menus {
            display: none;
        }

        #contactus .my-custome-button {
            font-size: 15px;
        }

        /* .search_cart_wishlist {
                display: none !important;

            } */

        .second-header {
            position: relative;
        }

        .responsive-menu {
            position: absolute;
            top: 0;
            right: 0;
            /* 👈 THIS moves it to right */
            width: 250px;
            height: 100vh;
            background-color: white;
            box-shadow: -8px 0 6px -6px rgba(0, 0, 0, 0.4);
            padding: 20px;
            transition: 0.3s ease;
            z-index: 9999;
            /* animation */
            transform: translateX(100%);
            opacity: 0;

            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .responsive-menu.active {
            transform: translateX(0);
            opacity: 1;
        }

        .responsive-menu ul {
            flex-direction: column;
            list-style-type: none;
        }

        .menus-header {
            flex-wrap: wrap;
            row-gap: 20px;
        }

        .responsive-menu ul li {
            margin: 10px 0 !important;
        }

        .menus-header>h4 {
            width: 100% !important;
        }

        .top-header p {
            font-size: 9px;
        }

        #contactus .my-custome-button {
            width: 100%;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 8px !important;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 12px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 25px !important;
        }

        .siteinfo-icone {
            font-size: 30px !important;
        }

        .siteinfo-typography1 {
            font-size: 25px !important;
        }

        .siteinfo-typography2 {
            font-size: 15px !important;
        }

        .whychoose-typography1 {
            font-size: 14px !important;
        }

        .whychoose-typography {
            font-size: 12px !important;
        }

        .teamname {
            font-size: 22px !important;
        }

        .teamrole {
            font-size: 15px !important;
        }



        .contact-custome-text {
            font-size: 12px !important;
        }

        .socialauth-icon {
            font-size: 25px;
        }

        .social-auth {
            padding: 20px 30px !important;
        }

        .auth-title {
            font-size: 22px !important;
        }

        .authsub-title {
            font-size: 18px !important;
        }

        .login-forget-btn {
            flex-direction: column;
            row-gap: 20px !important;
            align-items: flex-start !important;
        }

        .login-btn {
            width: 100% !important;
        }

        .musicexp-imgbox {
            display: none !important;
        }

        .musixexp-timebox {
            height: 58px;
            width: 58px;
        }


        .musixexp-title {
            font-size: 20px !important;
        }

        .musix-main-box {
            padding: 60px 40px !important;
            justify-content: center !important;
        }
    }

    /* sm */
    @media screen and (min-width:576px) {
        .menus {
            display: none;
        }

        #contactus .my-custome-button {
            font-size: 18px;
        }

        .menuicone {
            display: block;
        }

        .search_cart_wishlist {
            display: flex !important;
        }

        .responsive-menu ul {
            flex-direction: column;
            list-style-type: none;
        }

        .second-header {
            position: relative;
        }

        .responsive-menu {
            position: absolute;
            top: 0;
            right: 0;
            /* 👈 THIS moves it to right */
            width: 250px;
            height: 100vh;
            background-color: white;

            box-shadow: -8px 0 6px -6px rgba(0, 0, 0, 0.4);
            padding: 20px;
            transition: 0.3s ease;
            z-index: 1000;
            /* animation */
            transform: translateX(100%);
            opacity: 0;
            overflow: visible !important;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .responsive-menu.active {
            transform: translateX(0);
            opacity: 1;
        }

        .responsive-menu ul {
            list-style-type: none;
        }

        .responsive-menu ul li {
            margin: 20px 0 !important;
        }

        .menus-header {
            flex-wrap: nowrap;
        }

        .top-header p {
            font-size: 11px;
        }

        #contactus .my-custome-button {
            width: 100%;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 8px !important;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 12px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 25px !important;
        }

        .siteinfo-icone {
            font-size: 30px !important;
        }

        .siteinfo-typography1 {
            font-size: 25px !important;
        }

        .siteinfo-typography2 {
            font-size: 15px !important;
        }

        .whychoose-typography1 {
            font-size: 14px !important;
        }

        .whychoose-typography {
            font-size: 12px !important;
        }

        .teamname {
            font-size: 25px !important;
        }

        .teamrole {
            font-size: 15px !important;
        }


        .contact-custome-text {
            font-size: 14px !important;
        }

        .socialauth-icon {
            font-size: 25px;
        }

        .social-auth {
            padding: 20px 30px !important;
        }

        .auth-title {
            font-size: 30px !important;
        }

        .authsub-title {
            font-size: 18px !important;
        }

        .login-forget-btn {
            flex-direction: row;
            row-gap: 0 !important;
        }

        .login-btn {
            width: fit-content !important;
        }

        .musicexp-imgbox {
            display: none !important;
        }

        .musixexp-timebox {
            height: 58px;
            width: 58px;
        }

        .musixexp-title {
            font-size: 30px !important;
        }

    }

    /* md */
    @media screen and (min-width:768px) {
        .top-header p {
            font-size: 14px;
        }



        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 8px !important;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 12px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 25px !important;
        }

        .siteinfo-icone {
            font-size: 30px !important;
        }

        .siteinfo-typography1 {
            font-size: 25px !important;
        }

        .siteinfo-typography2 {
            font-size: 15px !important;
        }

        .whychoose-typography1 {
            font-size: 14px !important;
        }

        .whychoose-typography {
            font-size: 12px !important;
        }

        .contact-custome-text {
            font-size: 14px !important;
        }



        .socialauth-icon {
            font-size: 30px;
        }

        .social-auth {
            padding: 20px 48px !important;
        }

        .musixexp-title {
            font-size: 35px !important;
        }

        .musixexp-timebox {
            height: 58px;
            width: 58px;
        }





    }

    /* lg */
    @media screen and (min-width:992px) {
        .menus {
            display: block;
        }

        #contactus .my-custome-button {
            width: fit-content;
        }

        .menuicone {
            display: none !important;
        }

        .responsive-menu {
            display: none;
        }

        .whychoose-typography1 {
            font-size: 16px !important;
        }

        .whychoose-typography {
            font-size: 11px !important;
        }

        .teamname {
            font-size: 28px !important;
        }

        .teamrole {
            font-size: 18px !important;
        }

        .musicexp-imgbox {
            width: 55% !important;
            display: block !important;
        }

        .newarrival-grid-box {
            padding: 48px 10px;
        }
    }

    /* xl */
    @media screen and (min-width:1200px) {
        .siteinfo-typography1 {
            font-size: 30px !important;
        }

        .siteinfo-typography2 {
            font-size: 18px !important;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 15px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 30px !important;
        }

        .siteinfo-box {
            background-color: #adb0b3 !important;
            padding: 12px;
        }

        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 8px !important;
        }

        .siteinfo-icone {
            font-size: 40px !important;
        }

        .whychoose-typography1 {
            font-size: 20px !important;
        }

        .whychoose-typography {
            font-size: 14px !important;
        }

        .teamname {
            font-size: 34px !important;
        }

        .teamrole {
            font-size: 20px !important;
        }

        .contact-custome-text {
            font-size: 16px !important;
        }

        .auth-title {
            font-size: 36px !important;
        }

        .authsub-title {
            font-size: 20px !important;
        }

        .musixexp-title {
            font-size: 48px !important;
        }



        .musicexp-imgbox {
            width: 100%;

        }

        .newarrival-grid-box {
            padding: 48px 25px;
        }
    }

    /* xxl */
    @media screen and (min-width:1400px) {
        .siteinfo-typography1 {
            font-size: 32px;
        }

        .siteinfo-typography2 {
            font-size: 20px;
        }

        .newarrival-grid-box {
            padding: 48px;
        }

    }