    /* xs */
    @media screen and (max-width:576px) {

        body {
            padding-top: 204px;
        }

        section {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        /* .header-icone {
            font-size: 15px !important;
        } */

        .second-header {
            padding: 18px 0 17px 0;
        }

        .top-header {
            padding: 15px 0 !important;
        }

        .topheader-lang {
            font-size: 13px !important;
        }

        .last-box img {
            width: 70px;
        }

        .qrcode img {
            width: 60px;
        }

        /* */

        .topheader-p {
            max-width: 230px;
            margin: 0 !important;
            font-size: 11px;

        }

        .first-header {

            justify-content: flex-start;
            align-items: flex-start;
        }

        .menuicone {
            display: block;
        }

        .menus {
            display: none;
        }

        .account-menu1 {
            display: none !important;
        }

        #contactus .my-custome-button {
            font-size: 15px;
        }

        /* .search_cart_wishlist {
                display: none !important;

            } */

        .second-header {
            position: relative;
        }

        .responsive-menu {
            position: absolute;
            top: 0;
            left: 0;
            /* 👈 THIS moves it to right */
            width: 250px;
            height: 100vh;
            background-color: white;
            box-shadow: -8px 0 6px -6px rgba(0, 0, 0, 0.4);
            padding: 20px;
            transition: 0.3s ease;
            z-index: 9999;
            /* animation */
            transform: translateX(-100%);
            opacity: 0;

            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .responsive-menu.active {
            transform: translateX(0);
            opacity: 1;
        }

        .responsive-menu ul {
            flex-direction: column;
            list-style-type: none;
        }

        .menus-header {
            flex-wrap: wrap;
            row-gap: 20px;
        }

        .responsive-menu ul li {
            margin: 10px 0 !important;
        }

        .menus-header>h4 {
            width: 100% !important;
        }

        .my-custome-button {
            padding: 12px 25px;
            font-size: 15px;
        }

        .top-header p {
            font-size: 11px;
            margin: 0 auto;
            line-height: 1.5;
        }

        #contactus .my-custome-button {
            width: 100%;
        }

        #wishlist .my-custome-button,
        #foryou .my-custome-button {

            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 8px !important;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 12px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 25px !important;
        }

        .siteinfo-icone {
            font-size: 30px !important;
        }

        .siteinfo-typography1 {
            font-size: 25px !important;
        }

        .siteinfo-typography2 {
            font-size: 15px !important;
        }

        .whychoose-typography1 {
            font-size: 14px !important;
        }

        .whychoose-typography {
            font-size: 12px !important;
        }

        .teamname {
            font-size: 22px !important;
        }

        .teamrole {
            font-size: 15px !important;
        }



        .contact-custome-text {
            font-size: 12px !important;
        }

        .socialauth-icon {
            font-size: 25px;
        }

        .social-auth {
            padding: 20px 30px !important;
        }

        .auth-title {
            font-size: 22px !important;
        }

        .authsub-title {
            font-size: 18px !important;
        }

        .login-forget-btn {
            flex-direction: column;
            row-gap: 20px !important;
            align-items: flex-start !important;
        }

        .login-btn {
            width: 100% !important;
        }

        .musicexp-imgbox {
            display: none !important;
        }

        .musixexp-timebox {
            height: 58px;
            width: 58px;
        }


        .musixexp-title {
            font-size: 20px !important;
        }

        .musix-main-box {
            padding: 60px 40px !important;
            justify-content: center !important;
        }

        .caticone {
            font-size: 32px !important;
        }

        .category-title {
            padding: 28px 40px !important
        }

        .title {
            font-size: 18px !important;
        }

        .bestseal-name,
        .product-name,
        .cart-name {
            font-size: 15px !important;
        }

        .best-seal-btn {
            display: block;
            padding: 15px 60px !important;
            margin: 10px auto 0 auto;
        }

        .bsleft-btn {
            display: none !important;
        }

        .gridhero-rigth {
            display: none;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none !important;
        }

        .cardimg {
            height: 80px !important;
        }

        .newarrival-grid-box {
            padding: 0px 10px;
        }

        .newarrival-grid-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        /* .lastbox {
            width:400px;
        } */

        .lastbox img {
            width: 50%;
            height: 100%;
            margin-left: auto;
            /* object-fit: none; */
        }

        .cart-coupon-box {
            flex-wrap: wrap;
        }

        .coupon-text {
            width: 100% !important;
        }

        .accpont-menu {
            display: none;
        }

        .cart-coupon-box-btn,
        .cardototal-btn {
            padding: 12px 20px !important;
            margin: 0 auto;
            font-size: 16px !important;
        }

        .checkout-typo {
            font-size: 14px !important;
        }

        .checkout-box {
            max-width: 300px !important;
        }

        .search_cart_wishlist form .seachbox {
            max-width: 300px !important;
            justify-content: space-between;
        }
    }

    /* sm */
    @media screen and (min-width:576px) {

        body {
            padding-top: 160.5px;
        }

        section {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        .search_cart_wishlist form .seachbox {
            max-width: fit-content !important;
            justify-content: flex-start;
        }

        .top-header {
            padding: 15px !important;
        }

        .second-header {
            padding: 32px 24px 17px 24px;
        }

        .first-header {

            justify-content: space-between;
            align-items: center;
        }

        .topheader-p {
            max-width: fit-content;
            margin: 0 auto;
        }

        .menus {
            display: none;
        }

        .topheader-lang {
            font-size: 14px !important;
        }

        #myaccount .MuiBreadcrumbs-li,
        #myaccount .MuiBreadcrumbs-li .MuiTypography-body1 {
            font-size: 14px !important;
        }

        .account-menu1 {
            display: none !important;
        }

        .last-box img {
            width:99px;
        }

        .qrcode img {
            width:80px;
        }

        .title {
            font-size: 23px !important;
        }

        .my-custome-button {
            padding: 12px 32px;
            font-size: 16px;
        }

        #contactus .my-custome-button {
            font-size: 18px;
        }

        .menuicone {
            display: block;
        }

        .search_cart_wishlist {
            display: flex !important;
        }

        .responsive-menu ul {
            flex-direction: column;
            list-style-type: none;
        }

        .second-header {
            position: relative;
        }

        .responsive-menu {
            position: absolute;
            top: 0;
            left: 0;
            /* 👈 THIS moves it to right */
            width: 250px;
            height: 100vh;
            background-color: white;

            box-shadow: -8px 0 6px -6px rgba(0, 0, 0, 0.4);
            padding: 20px;
            transition: 0.3s ease;
            z-index: 1000;
            /* animation */
            transform: translateX(-100%);
            opacity: 0;
            overflow: visible !important;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .responsive-menu.active {
            transform: translateX(0);
            opacity: 1;
        }

        .responsive-menu ul {
            list-style-type: none;
        }

        .responsive-menu ul li {
            margin: 20px 0 !important;
        }

        .menus-header {
            flex-wrap: nowrap;
        }



        #contactus .my-custome-button {
            width: 100%;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 8px !important;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 12px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 25px !important;
        }

        .siteinfo-icone {
            font-size: 30px !important;
        }

        .siteinfo-typography1 {
            font-size: 25px !important;
        }

        .siteinfo-typography2 {
            font-size: 15px !important;
        }

        .whychoose-typography1 {
            font-size: 14px !important;
        }

        .whychoose-typography {
            font-size: 12px !important;
        }

        .teamname {
            font-size: 25px !important;
        }

        .teamrole {
            font-size: 15px !important;
        }


        .contact-custome-text {
            font-size: 14px !important;
        }

        .socialauth-icon {
            font-size: 25px;
        }

        .social-auth {
            padding: 20px 30px !important;
        }

        .auth-title {
            font-size: 30px !important;
        }

        .authsub-title {
            font-size: 18px !important;
        }

        .login-forget-btn {
            flex-direction: row;
            row-gap: 0 !important;
        }

        .login-btn {
            width: fit-content !important;
        }

        .musicexp-imgbox {
            display: none !important;
        }

        .musixexp-timebox {
            height: 58px;
            width: 58px;
        }

        .musixexp-title {
            font-size: 30px !important;
        }

        .caticone {
            font-size: 35px !important;
        }

        .category-title {
            padding: 28px 56px !important
        }

        .bestseal-name,
        .product-name,
        .cart-name {
            font-size: 20px !important;
        }

        .best-seal-btn {
            display: none !important;
        }

        .bsleft-btn {
            display: block !important;
        }

        .gridhero-rigth {
            display: none;
        }

        /* .heroleft-menu {
            display: flex;
            flex-wrap: wrap;
            column-gap: 50px;
            gap: 10px;
        } */
        .my-time-typo2 {
            font-size: 20px !important;
        }

        .my-time-typo1 {
            font-size: 12px !important;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: inline-block !important;
        }

        .cardimg {
            height: 100px !important;
        }

        .newarrival-grid-box {
            padding: 0px 10px;
        }

        .lastbox {
            width: 100%;
            display: flex;
        }

        .lastbox img {
            width: 50% !important;
            margin-left: auto;
        }

        .accpont-menu {
            display: none;
        }

        .cart-coupon-box-btn,
        .cardototal-btn {
            padding: 12px 30px !important;
            margin: 0 auto;
            font-size: 16px !important;
        }

        /* .place-order-btn{
            margin: 0 auto;
        } */

        /* .coupon-textw{
            width: ;
        } */

        .checkout-typo {
            font-size: 16px !important;
        }

        .checkout-box {
            max-width: 550px !important;
        }
    }

    /* md */
    @media screen and (min-width:768px) {

        section {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        #myaccount .MuiBreadcrumbs-li,
        #myaccount .MuiBreadcrumbs-li .MuiTypography-body1 {
            font-size: 16px !important;
        }

        .top-header p {
            font-size: 14px;
        }

        .firstbox {
            width: 100% !important;
        }

        .account-menu1 {
            display: block !important;
        }

        .account-menu2 {
            display: none !important;
        }

        .heroleft-menu {
            display: block;

        }

        .title {
            font-size: 28px !important;
        }

        .my-custome-button {
            padding: 12px 40px;
            font-size: 18px;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 8px !important;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 12px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 25px !important;
        }

        .siteinfo-icone {
            font-size: 30px !important;
        }

        .siteinfo-typography1 {
            font-size: 25px !important;
        }

        .siteinfo-typography2 {
            font-size: 15px !important;
        }

        .whychoose-typography1 {
            font-size: 14px !important;
        }

        .whychoose-typography {
            font-size: 12px !important;
        }

        .contact-custome-text {
            font-size: 14px !important;
        }



        .socialauth-icon {
            font-size: 30px;
        }

        .social-auth {
            padding: 20px 48px !important;
        }

        .musixexp-title {
            font-size: 35px !important;
        }

        .musixexp-timebox {
            height: 58px;
            width: 58px;
        }

        .caticone {
            font-size: 40px !important;
        }

        .bestseal-name,
        .product-name,
        .cart-name {
            font-size: 20px !important;
        }

        .heroimage {
            height: 300px;
            width: 250px;
        }

        .hero-rigth {
            padding: 0 !important;
            padding-left: 10px !important;
            padding-top: 20px !important;
        }

        .hero-text {
            padding-left: 0;
            padding-right: 0;
        }

        .img2hero {
            display: block !important;
        }

        .img1hero {
            display: none !important;
        }

        .gridhero-rigth {
            display: block;
        }

        .my-time-typo2 {
            font-size: 22px !important;
        }

        .my-time-typo1 {
            font-size: 12px !important;
        }

        .cardimg {
            height: 120px !important;
        }

        .newarrival-grid-box {
            padding: 0px 10px;
        }

        /* /* .lastbox{
            display: flex;
            width: 100% !important;
        } */

        /* .lastbox img{
            margin-left: auto;
        } */

        .lastbox {
            width: 100%;
            display: flex;
        }

        .lastbox img {
            width: 60% !important;
            margin-left: auto;
        }

        /* .myaccount-drawer{
            display: none;
        } */
        .cart-coupon-box {
            flex-wrap: wrap;

        }

        .cart-coupon-box-btn,
        .cardototal-btn {
            padding: 12px 30px !important;
            margin: 0 auto;
            font-size: 16px;
        }

    }

    /* lg */
    @media screen and (min-width:992px) {

        section {
            margin-top: 80px;
            margin-bottom: 60px;
        }

        .menus {
            display: block;
        }

        #contactus .my-custome-button {
            width: fit-content;
        }

        .menuicone {
            display: none !important;
        }

        .title {
            font-size: 30px !important;
        }

        /* .my-custome-button {
            padding: 12px 40px !important;
            font-size: 18px;
        } */

        .responsive-menu {
            display: none;
        }

        .whychoose-typography1 {
            font-size: 16px !important;
        }

        .whychoose-typography {
            font-size: 11px !important;
        }

        .teamname {
            font-size: 28px !important;
        }

        .teamrole {
            font-size: 18px !important;
        }

        .musicexp-imgbox {
            width: 55% !important;
            display: block !important;
        }

        .newarrival-grid-box {
            padding: 48px 10px;
        }

        .heroimage {
            height: 300px;
            width: 350px;
        }

        .hero-rigth {
            padding: 40px 0 0 20px !important;
        }

        .hero-text {
            padding-left: 20px;
            padding-right: 20px;
        }

        .img2hero {
            display: none !important;
        }

        .img1hero {
            display: block !important;
        }

        .my-time-typo1 {
            font-size: 14px !important;
        }

        .cardimg {
            height: 120px !important;
        }

        .newarrival-grid-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .lastbox {
            width: fit-content;
        }

        .lastbox img {
            width: 100% !important;
            margin-left: 0;
        }

        /* #myaccount .submenu .MuiListItemText-root .MuiTypography-root{
            font-size: 16px !important;
        } */

        /* .my-form{
            margin-left: 20px !important;
        } */

        #myaccount .MuiBreadcrumbs-li {
            font-size: 16px !important;
        }

        .myaccount-drawer {
            display: none;
        }

        .accpont-menu {
            display: block;
        }



        .cart-coupon-box-btn {
            padding: 12px 30px !important;
        }

        .cart-coupon-box {
            flex-wrap: nowrap;
        }
    }

    /* xl */
    @media screen and (min-width:1200px) {
        .siteinfo-typography1 {
            font-size: 30px !important;
        }

        .siteinfo-typography2 {
            font-size: 18px !important;
        }

        .whychoose-box,
        .siteinfo-box {
            background-color: #c9cdcf !important;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            margin-bottom: 24px;
        }

        .whychoos-iconebtn,
        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 15px !important;
        }

        .whychoos-icone,
        .siteinfo-icone {
            color: white;
            font-size: 30px !important;
        }

        .siteinfo-box {
            background-color: #adb0b3 !important;
            padding: 12px;
        }

        .siteinfo-iconebtn {
            background-color: rgb(0, 0, 0) !important;
            padding: 8px !important;
        }

        .siteinfo-icone {
            font-size: 40px !important;
        }

        .whychoose-typography1 {
            font-size: 20px !important;
        }

        .whychoose-typography {
            font-size: 14px !important;
        }

        .teamname {
            font-size: 34px !important;
        }

        .teamrole {
            font-size: 20px !important;
        }

        .contact-custome-text {
            font-size: 16px !important;
        }

        .auth-title {
            font-size: 36px !important;
        }

        .authsub-title {
            font-size: 20px !important;
        }

        .musixexp-title {
            font-size: 48px !important;
        }

        .title {
            font-size: 28px !important;
        }

        .musicexp-imgbox {
            width: 100%;

        }

        .newarrival-grid-box {
            padding: 48px 25px;
        }

        #product-detail .my-custome-button {
            padding: 10px 30px !important;
        }

        .caticone {
            font-size: 40px !important;
        }

        .bestseal-name,
        .product-name,
        .cart-name {
            font-size: 22px !important;
        }

        .heroimage {
            height: 350px;
            width: 400px;
        }

        .hero-rigth {
            padding: 40px 0 0 40px;
        }

        .hero-text {
            padding-left: 50px;
            padding-right: 70px;
        }

        .my-time-typo2 {
            font-size: 28px !important;
        }

        .cardimg {
            height: 140px !important;
        }

        .my-custome-button {
            padding: 12px 48px;
        }

        #myaccount .submenu {
            font-size: 16px !important;
        }

        #myaccount .my-custome-button {
            width: 100%;
            padding: 20px 36px;
        }



        .cart-coupon-box-btn {
            padding: 12px 49px !important;
        }

        .newarrival-grid-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    /* xxl */
    @media screen and (min-width:1400px) {
        .siteinfo-typography1 {
            font-size: 32px;
        }

        .siteinfo-typography2 {
            font-size: 20px;
        }

        .newarrival-grid-box {
            padding: 48px;
        }

        #product-detail .my-custome-button {
            padding: 20px 48px !important;
        }

    }